html {
    scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body,
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 30px;
}

body {
    font-family: 'Uncial Antiqua', serif;
    line-height: 1.6;
    color: #070303;
    font-size: large;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: black;
    color: white;
    font-size: large;
}

#theme-toggle {
    padding: 5px 10px;
    cursor: pointer;
    margin: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
}

header {
    background: #09bae6;
    color: #fdfdfd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Alkhemikal', sans-serif;
}

header img {
    max-width: 150px;
    height: auto;
    position: absolute;
    top: -10px;
    left: 20px;
}

.logo {
    width: 120px;
    height: auto;
}

header h1 {
    font-family: 'Alkhemikal', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #080808;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    margin-top: 50px;
}

#adventure {
    background: #1b376b;
    padding: 20px;
    text-align: center;
    font-size: large;
}

#adventure .button,
.button {
    display: inline-block;
    background: #007BFF;
    color: #fdfcfc;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
}

.button:hover {
    background-color: #05198a;
}

.Tittle_screen {
    text-align: center;
}

.movement {
    overflow: auto;
}

.image {
    float: right;
    width: 400px;
    margin-left: 20px;
}

.text {
    width: 75%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

@font-face {
    font-family: 'Alkhemikal';
    src: url('fonts/Alkhemikal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}